
	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: 'Quattrocento', serif;
		color: #fff;
		margin:0;
		padding:0;
		text-shadow: 0 0 .25em #000;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	.section{
		background-size: cover;
	}
	.slide{
		background-size: cover;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section0{
		background-image: url(img/4.jpg);
	}
	#section0 h1{
		top: 50%;
		transform: translateY(-50%);
		position: relative;
	}
	#section2{
		background-image: url(img/1.jpg);
		padding: 6% 0 0 0;
	}

	/*Adding background for the slides
	* --------------------------------------- */
	#slide1{
		background-image: url(img/1.jpg);
	}
	#slide2{
		background-image: url(img/2.jpg);
	}
	#slide3{
		background-image: url(img/5.jpg);
	}
	#slide4{
		background-image: url(img/3.jpg);
	}

	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}

@font-face {
  font-family: Quattrocento;
  src: local("Quattrocento"),
       local("Quattrocento"),
       url(Quattrocento-Regular.ttf);
	font-weight: normal;
}
